
<footer id="footer" class="footer">
    <div class="container">
        <div class="footer_cont">
            <div class="footer_cont_left">
                {% for lan in site.data.general %} 
                    {% if lan[0] == page.lang %}
                    {% assign data = lan[1] %}
		    <span class="footer_logo">
			    <a href="{{ site.baseurl }}">{{ data.footer-logo-text.text }} <span>{{ data.footer-logo-text.sub-text }} </span></a>
                        </span>
                    {% endif %}  
                {% endfor %} 
                <ul class="footer_dropdawn"> 
                    <li> 
                        {% for lan in site.data.languages %}
                            {% if lan[0] == page.lang %}
                            {% assign data = lan[1] %}
                                <a href="{{ site.baseurl }}{{ data.link }}">{{ data.label }}</a>
                            {% else %}
                            {% assign data = lan[1] %}
                                <ul>
                                    <li><a href="{{ site.baseurl }}{{ data.link }}">{{ data.label }}</a></li>
                                </ul> 
                            {% endif %} 
                        {% endfor %} 
                    </li>  
                </ul>
            </div>
            {% for lan in site.data.general %} 
                {% if lan[0] == page.lang %}
                {% assign data = lan[1] %}
                    <div class="footer_cont_right">
                        <div class="footer_nav">
                            {% for nav in data.footer-nav %}
                                <a href="{{ site.baseurl }}{{ nav.link }}"> {{ nav.name }}</a>
                            {% endfor %} 
                        </div>
                        <div class="footer_info">
				<p>Copyright 2020 <a href="https://guardianproject.info">Guardian Project</a>  |</p> 
                            <a href="{{ site.baseurl }}{{ data.privacy.link }}">{{ data.privacy.name }}</a>
                            <img src="{{ site.baseurl }}{{ data.logo-art }}" alt="logo_art" />
                        </div>
                    </div> 
                {% endif %}  
            {% endfor %} 
        </div> 
    </div>
</footer>  
{% include javascript.html %} 
 


 
 
