
<header class="header">
  <div class="container"> 
    <div class="header_cont"> 
      <a class="header_cont_logo" href="{{ site.baseurl }}{% for lan in site.data.languages %}{% if lan[0] == page.lang %}{% assign data = lan[1] %}{{ data.link }}{% endif %}{% endfor %}">  
        {% for lan in site.data.general %} 
          {% if lan[0] == page.lang %}
          {% assign data = lan[1] %}
	  <img src="{{ site.baseurl }}{{ data.logo-art }}" alt="logo_art" />
              {{ data.logo }}
          {% endif %}  
        {% endfor %} 
      </a>  

      <div class="header_cont_nav"> 
        <ul class="header_cont_nav_list"> 
	      {% for lan in site.data.general %}
                {% if lan[0] == page.lang %}
                {% assign data = lan[1] %}
                            {% for nav in data.footer-nav %}
		 <li class="header_cont_nav_list_items" >
			 <a class="header_cont_nav_list_items_link" href="{{ site.baseurl }}{{ nav.link }}"> {{ nav.name }}</a>
		 </li>
                            {% endfor %}
                {% endif %}
            {% endfor %}
	    </ul>

        <ul class="header_cont_nav_list"> 
          {% for lan in site.data.menus %} 
            {% assign data = lan[0] %}
              {% for menus in data %} 
                <li class="header_cont_nav_list_items" > 
                  <a class="header_cont_nav_list_items_link"
		     href="{{ site.baseurl }}{{ menu.url }}"> {{ menu.title }}</a> 
                </li>
              {% endfor %}  
          {% endfor %}  
        </ul>  
	<!--
	<ul class="footer_dropdawn" style="background:#ccc; padding: 3px;">
		<li>
                        {% for lan in site.data.languages %}
                            {% if lan[0] == page.lang %}
                            {% assign data = lan[1] %}
                                <a href="{{ site.baseurl }}{{ data.link }}">{{ data.label }}</a>
                            {% else %}
                            {% assign data = lan[1] %}
                                <ul>
                                    <li><a href="{{ site.baseurl }}{{ data.link }}">{{ data.label }}</a></li>
                                </ul>
                            {% endif %}
                        {% endfor %}
			</li>
	 </ul>
	-->
	 <!--
        {% for lan in site.data.general %} 
          {% if lan[0] == page.lang %}
          {% assign data = lan[1] %}
              <a class="general-button" href="{{ site.baseurl }}{{ data.butoon-href }}">Get Started</a>
          {% endif %}  
        {% endfor %} 
	 -->
      </div> 
      <div class="menu-button">
          <img src="{{ site.baseurl }}/assets/img/arrow.svg" alt="arrow" > 
      </div>
    </div> 
  </div>
</header>
 
