<section class="about">
    <div class="container"> 
      <div class="about_cont"> 
        <h2>{{ section.about-title }}</h2>
        <p class="general-paragraph">{{ section.about-paragraph }}</p> 
        <a class="general-button" href="{{ section.about-btn-url }}">{{ section.about-btn-text }}</a>
      </div>
    </div>  
</section>
