@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 105px;
  transition: 0.3s all;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main {
  padding-top: 105px; }
  @media (max-width: 768px) {
    .main {
      padding-top: 46px; } }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1470px;
  padding: 0 15px;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 35px; } }

.container-small {
  max-width: 1290px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (max-width: 1200px) {
    .container-small {
      padding: 0 35px; } }

.row {
  margin: 0 -15px; }
  @media (max-width: 1200px) {
    .row {
      margin: 0; } }

.general-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3877EF;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #3877EF;
  text-decoration: none; }
  .general-button:hover {
    color: #3877EF;
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(56, 119, 239, 0.4); }
  @media (max-width: 768px) {
    .general-button {
      font-size: 14px;
      line-height: 16px;
      padding: 10px 30px; } }

.title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 49px;
  color: #ffffff;
  text-shadow: 0px 3px 4px rgba(75, 88, 202, 0.52);
  margin: 0; }
  @media (max-width: 768px) {
    .title {
      font-size: 32px; } }

.general-paragraph {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0; }
  @media (max-width: 768px) {
    .general-paragraph {
      font-size: 18px;
      line-height: 22px; } }

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #ffffff;
  padding: 28px 0 23px;
  z-index: 99;
  transition: 0.3s all; }
  .header.active {
    padding: 15px 0 10px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15); }
  @media (max-width: 768px) {
    .header {
      padding: 10px 0 10px; } }
  .header_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all;
    position: relative; }
    @media (max-width: 768px) {
      .header_cont {
        padding: 0 40px 0 0; } }
    .header_cont_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      margin-right: 10px; }
      .header_cont_logo img { width: 64px; height: 64px; }
    .header_cont_nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.3s all;
      box-sizing: border-box; }
      .header_cont_nav.active {
        transition: 0.3s all; }
      .header_cont_nav_list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0; }
        @media (max-width: 768px) {
          .header_cont_nav_list {
            flex-direction: column;
            position: absolute;
            bottom: -9px;
            right: -40px;
            min-width: 250px;
            background-color: #ffffff;
            border-radius: 6px;
            flex-direction: column;
            box-shadow: 0px 9px 12px rgba(118, 169, 213, 0.4);
            transform: translate(100%, 100%);
            transition: 0.3s all; } }
        @media (max-width: 480px) {
          .header_cont_nav_list {
            width: calc(100% + 70px);
            margin: 0 -35px; } }
        @media (max-width: 768px) {
          .header_cont_nav_list.active {
            right: 0;
            transform: translate(0%, 100%); } }
        .header_cont_nav_list_items {
          position: relative;
          text-decoration: none;
          list-style: none;
          padding: 15px 0;
          transition: 0.3s all;
          margin-right: 50px;
          transition: 0.3s all;
          cursor: pointer; }
          .header_cont_nav_list_items:before {
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 4px;
            transition: 0.3s all;
            z-index: 11; }
          .header_cont_nav_list_items.active:before, .header_cont_nav_list_items:hover:before {
            width: 100%;
            background-color: #3877EF; }
          @media (max-width: 768px) {
            .header_cont_nav_list_items {
              border-bottom: 1px solid rgba(34, 78, 116, 0.4);
              margin-right: 0;
              padding: 0;
              display: flex;
              flex-direction: column;
              justify-content: flex-start; } }
          .header_cont_nav_list_items_link {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #3877EF;
            text-decoration: none;
            text-align: center;
            transition: 0.3s all; }
            @media (max-width: 768px) {
              .header_cont_nav_list_items_link {
                text-shadow: none;
                padding: 1px 30px;
                text-align: left; } }
          .header_cont_nav_list_items:hover > .header_cont_nav_list_items_children {
            display: flex; }
          @media (max-width: 768px) {
            .header_cont_nav_list_items.active .header_cont_nav_list_items_children {
              display: flex; } }
          .header_cont_nav_list_items_children {
            position: absolute;
            top: 108px;
            display: none;
            background-color: #ffffff;
            box-sizing: border-box;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 255px;
            left: 0%;
            transform: translate(0%, 0%);
            flex-direction: column;
            transition: 0.3s all; }
            @media (max-width: 768px) {
              .header_cont_nav_list_items_children {
                display: none;
                position: relative;
                opacity: 1;
                transform: translate(0%, 0%);
                top: 0;
                left: 0;
                width: auto; } }
            .header_cont_nav_list_items_children_link_children {
              text-align: left;
              font-family: "Inter", sans-serif;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              cursor: pointer;
              transition: 0.3s all;
              text-decoration: none;
              margin-bottom: 0;
              padding: 18px 30px;
              border-bottom: 1px solid rgba(118, 169, 213, 0.4); }
              .header_cont_nav_list_items_children_link_children:hover, .header_cont_nav_list_items_children_link_children.active {
                opacity: 1; }
              @media (max-width: 768px) {
                .header_cont_nav_list_items_children_link_children {
                  padding: 10px 30px 10px 35px;
                  border: none; } }
            .header_cont_nav_list_items_children_link_children:last-child {
              margin-bottom: 0;
              border-bottom: none; }
          .header_cont_nav_list_items:hover > .header_cont_nav_list_items_link {
            opacity: 1; }
  @media (max-width: 768px) {
    .header .general-button {
      padding: 5px 10px;
      font-size: 13px;
      line-height: 15px; } }

.menu-button {
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  width: 10px;
  height: 100%; }
  .menu-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center 50%;
    transition: 0.3s all; }
  .menu-button.active img {
    transform: rotate(180deg);
    object-position: center 50%; }
  @media (max-width: 768px) {
    .menu-button {
      display: flex; } }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  z-index: 4;
  padding: 140px 0 140px; }
  @media (max-width: 768px) {
    .footer {
      padding: 20px 0 25px; } }
  .footer_cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer_cont_left {
      display: flex;
      flex-direction: column;
      margin: 20px 0 0;
      position: relative; }
      @media (max-width: 768px) {
        .footer_cont_left {
          width: 100%; } }
    .footer_cont_right {
      display: flex;
      flex-direction: column;
      margin: 30px 0 0;
      box-sizing: border-box;
      padding-right: 10px; }
      @media (max-width: 768px) {
        .footer_cont_right {
          width: 100%;
          padding-right: 00px; } }
  .footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.3s all; }
    @media (max-width: 768px) {
      .footer_logo {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em; } }
    .footer_logo span {
      font-family: "Karla", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #ffffff;
      text-transform: none;
      padding-left: 65px;
      position: relative;
      transition: 0.3s all; }
      @media (max-width: 768px) {
        .footer_logo span {
          font-weight: bold;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.02em;
          padding-left: 12px; } }
      .footer_logo span:before {
        content: '';
        position: absolute;
        left: 40px;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #ffffff;
        transition: 0.3s all; }
        @media (max-width: 768px) {
          .footer_logo span:before {
            left: 6px; } }
    .footer_logo:hover, .footer_logo:hover > * {
      color: #3877EF;
      cursor: pointer; }
      .footer_logo:hover:before, .footer_logo:hover > *:before {
        background-color: #3877EF; }
  .footer_dropdawn {
    margin: 30px 0 0 125px;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    color: #ffffff;
    padding: 0;
    width: max-content; }
    .footer_dropdawn li {
      list-style: none;
      position: relative;
      z-index: 9; }
      .footer_dropdawn li:after {
        content: '';
        position: absolute;
        z-index: 7;
        left: 0;
        top: 50%;
        width: 17px;
        height: 17px;
        background: url("../img/plan.svg");
        background-position: center;
        background-size: contain;
        transform: translate(0, -50%); }
      .footer_dropdawn li:before {
        content: '';
        position: absolute;
        z-index: 7;
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        background: url("../img/footer-arrow.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transform: translate(0, -50%); }
      .footer_dropdawn li a {
        text-decoration: none;
        font-family: "Karla", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 24px;
        color: #ffffff;
        display: inline-block;
        padding: 0 20px 0 30px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        z-index: 9; }
        .footer_dropdawn li a:hover {
          cursor: pointer; }
      .footer_dropdawn li ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #ffffff;
        padding: 10px 5px;
        border-radius: 5px;
        box-sizing: border-box; }
        .footer_dropdawn li ul li:before, .footer_dropdawn li ul li:after {
          display: none; }
        .footer_dropdawn li ul li a {
          padding: 0 0;
          color: #000000; }
      .footer_dropdawn li:hover > ul {
        display: block; }
    @media (max-width: 768px) {
      .footer_dropdawn {
        position: absolute;
        right: 0;
        bottom: -40px; } }
  .footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 0 30px; }
    @media (max-width: 768px) {
      .footer_nav {
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        padding-right: 100px;
        margin: 0 0 50px; } }
    .footer_nav a {
      font-family: "Karla", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #ffffff;
      margin-right: 60px;
      text-decoration: none;
      transition: 0.3s all; }
      @media (max-width: 768px) {
        .footer_nav a {
          margin-right: 0;
          margin-bottom: 7px;
          font-weight: normal;
          font-size: 18px;
          line-height: 22px; } }
      .footer_nav a:hover, .footer_nav a:hover > * {
        color: #3877EF;
        cursor: pointer; }
      .footer_nav a:last-child {
        margin-right: 0; }
        @media (max-width: 768px) {
          .footer_nav a:last-child {
            margin-bottom: 0; } }
  .footer_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    @media (max-width: 768px) {
      .footer_info {
        justify-content: center; } }
    .footer_info p, .footer_info a {
      font-family: "Karla", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 24px;
      text-align: right;
      color: rgba(255, 255, 255, 0.7); }
      @media (max-width: 768px) {
        .footer_info p, .footer_info a {
          font-size: 10px;
          line-height: 120%; } }
    .footer_info a {
      transition: 0.3s all;
      text-decoration: none;
      padding-left: 5px; }
      .footer_info a:hover, .footer_info a:hover > * {
        color: #3877EF;
        cursor: pointer; }
    .footer_info img {
      width: 25px;
      height: auto;
      object-fit: contain;
      margin-left: 30px; }
      @media (max-width: 768px) {
        .footer_info img {
          width: 18px;
          height: 18px;
          margin-left: 10px; } }

.teaser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 105px);
  box-sizing: border-box;
  background-color: #F5D6CA;
  position: relative;
  padding: 115px 0; }
  @media (max-width: 768px) {
    .teaser {
      min-height: auto; } }
  .teaser_cont {
    position: relative;
    z-index: 9;
    width: 100%;
    max-width: 973px; }
    .teaser_cont h1 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 140px;
      line-height: 140px;
      color: #000000;
      margin: 0 0 30px; }
      @media (max-width: 768px) {
        .teaser_cont h1 {
          font-weight: 800;
          font-size: 40px;
          line-height: 46px;
          word-wrap: break-word; } }
    .teaser_cont .general-paragraph {
      margin: 0 0 35px;
      max-width: 943px; }
    .teaser_cont .general-button {
      padding: 16px 52px; }
      @media (max-width: 768px) {
        .teaser_cont .general-button {
          padding: 10px 31px; } }
  .teaser_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
    z-index: 2; }
  .teaser .container-small {
    max-width: 1250px; }

.product {
  display: flex;
  width: 100%;
  padding: 215px 0;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .product {
      padding: 116px 0; } }
  .product_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media (max-width: 768px) {
      .product_cont {
        flex-direction: column; } }
  .product_img {
    width: 100%;
    max-width: 645px;
    margin: 0 15px; }
    .product_img img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }
    @media (max-width: 768px) {
      .product_img {
        margin: 0 0 67px; } }
  .product_content {
    width: 100%;
    max-width: 570px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 15px; }
    .product_content h2 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 100%;
      display: flex;
      align-items: flex-end;
      color: #000000;
      margin: 20px 0 20px; }
      @media (max-width: 768px) {
        .product_content h2 {
          font-weight: 800;
          font-size: 28px;
          line-height: 34px;
          margin: 0 0 5px; } }
  .product_column {
    display: flex;
    flex-direction: column;
    margin: 23px 0 0; }
    .product_column_items {
      margin: 35px 0 0;
      display: flex;
      flex-direction: row; }
      @media (max-width: 768px) {
        .product_column_items {
          margin: 30px 0 0; } }
      .product_column_items img {
        width: 83px;
        height: 83px;
        object-fit: contain;
        margin: 0 30px 0 0; }
        @media (max-width: 768px) {
          .product_column_items img {
            width: 50px;
            height: 50px;
            margin: 0 13px 0 0; } }
    .product_column_info {
      display: flex;
      flex-direction: column; }
      .product_column_info h5 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        margin: 0; }
        @media (max-width: 768px) {
          .product_column_info h5 {
            font-weight: 800;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.05em; } }
  .product.revers .product_cont {
    flex-direction: row-reverse;
    align-items: center; }
    @media (max-width: 768px) {
      .product.revers .product_cont {
        flex-direction: column; } }
  @media (max-width: 768px) {
    .product .general-paragraph {
      font-size: 18px;
      line-height: 22px; } }

.go-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3877EF;
  padding: 190px 0 160px;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .go-head {
      padding: 116px 0; } }
  .go-head h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin: 0 auto 10px; }
    @media (max-width: 768px) {
      .go-head h4 {
        font-size: 18px;
        line-height: 22px; } }
  .go-head h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    margin: 0; }
    @media (max-width: 768px) {
      .go-head h2 {
        font-weight: 800;
        font-size: 28px;
        line-height: 32px; } }
  .go-head_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .go-head_cont_item {
      width: 100%;
      max-width: 370px;
      display: flex;
      flex-direction: column;
      margin: 25px 15px 0; }
      @media (max-width: 768px) {
        .go-head_cont_item {
          margin: 80px 0 0; } }
    .go-head_cont_white {
      display: flex;
      flex-direction: row;
      padding: 15px 0px;
      box-sizing: border-box;
      width: 100%;
      background-color: transparent; }
      @media (max-width: 768px) {
        .go-head_cont_white {
          justify-content: center; } }
    .go-head_cont_img {
      width: 120px;
      height: 120px;
      object-fit: contain;
      max-width: 100%; }
    .go-head_cont h5 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 119%;
      color: #ffffff;
      margin: 25px 0 5px; }
      @media (max-width: 768px) {
        .go-head_cont h5 {
          margin: 20px 0 5px;
          font-weight: 800;
          font-size: 22px;
          line-height: 24px; } }
    .go-head_cont p {
      color: #ffffff;
      line-height: 26px; }
      @media (max-width: 768px) {
        .go-head_cont p {
          font-size: 18px;
          line-height: 22px; } }
  .go-head_bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto; 
}
  .go-head_bottom a:link { color:white }
  .go-head_bottom a:visited { color:white }
  .go-head_bottom a:hover { color:hotpink }
  .go-head_bottom a:active { color:hotpink }

  .go-head.white {
    background-color: #ffffff; }
    .go-head.white .general-paragraph, .go-head.white h5, .go-head.white h2 {
      color: #000000; }
    .go-head.white h4 {
      color: #8C8C8C; }
    .go-head.white .go-head_cont_white {
      background-color: transparent;
      padding: 0; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 85px 0; }
  @media (max-width: 768px) {
    .about {
      padding: 90px 0; } }
  .about_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 65px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1216px;
    background: #FBFBFB;
    border-radius: 6px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .about_cont {
        padding: 105px 20px;
        align-items: flex-start; } }
    .about_cont h2 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 64px;
      line-height: 70px;
      text-align: center;
      color: #000000;
      margin: 0 0 15px; }
      @media (max-width: 768px) {
        .about_cont h2 {
          font-weight: 800;
          font-size: 36px;
          line-height: 40px;
          text-align: left; } }
    @media (max-width: 768px) {
      .about_cont .general-paragraph {
        font-size: 18px;
        line-height: 21px;
        text-align: left; } }
    .about_cont .general-button {
      margin: 60px auto 0;
      padding: 16px 52px; }
      @media (max-width: 768px) {
        .about_cont .general-button {
          margin: 25px 0 0;
          padding: 10px 31px; } }

.by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 105px 0; }
  .by h4 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #7A7A7A;
    margin: 0 0 15px; }
  .by img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto;
    object-position: center; }
  .by_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .by_cont_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      width: max-content;
      justify-content: space-around;
      text-decoration: none;
      cursor: pointer;
      max-width: 100%; }
    .by_cont_partners {
      margin: 20px 25px 0; }

.teaser-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #3078EF;
  position: relative;
  padding: 311px 0 67px; }
  @media (max-width: 768px) {
    .teaser-2 {
      padding: 115px 0 56px; } }
  .teaser-2_cont {
    position: relative;
    z-index: 9;
    width: 100%; }
    .teaser-2_cont h1 {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 88px;
      line-height: 88px;
      color: #ffffff;
      margin: 0; }
      @media (max-width: 768px) {
        .teaser-2_cont h1 {
          font-weight: 800;
          font-size: 40px;
          line-height: 100%;
          word-wrap: break-word; } }

.empty {
  width: 100%;
  height: 452px;
  display: block;
  background-color: #ffffff; }
  @media (max-width: 768px) {
    .empty {
      height: 350px; } }
  @media (max-width: 480px) {
    .empty {
      height: 300px; } }

.video {
  display: flex;
  flex-direction: column;
  background-color: #F5D6CA;
  position: relative;
  padding: 280px 0 210px; }
  @media (max-width: 768px) {
    .video {
      padding: 160px 0 45px; } }
  @media (max-width: 480px) {
    .video {
      padding: 125px 0 45px; } }
  .video_block {
    width: 100%;
    max-width: 850px;
    height: 480px;
    display: flex;
    margin: -520px auto 0;
    flex-direction: column;
    position: relative;
    background: #C4C4C4; }
    .video_block iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 8; }
    @media (max-width: 768px) {
      .video_block {
        height: 240px;
        margin: -280px auto 0; } }
    @media (max-width: 480px) {
      .video_block {
        height: 170px;
        margin: -205px auto 0; } }
    .video_block_image {
      position: absolute;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 5; }
    .video_block video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .video_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 768px) {
      .video_cont {
        flex-direction: column; } }
    .video_cont_left {
      margin: 40px 0 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 470px; }
      @media (max-width: 768px) {
        .video_cont_left {
          max-width: 100%; } }
      .video_cont_left h6 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #2e78ef;
        margin: 0; }
        @media (max-width: 768px) {
          .video_cont_left h6 {
            font-size: 18px;
            line-height: 22px;
            margin: 0 0 10px; } }
      .video_cont_left h2 {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 64px;
        color: #000000;
        margin: 0; }
        @media (max-width: 768px) {
          .video_cont_left h2 {
            ont-weight: 800;
            font-size: 36px;
            line-height: 36px; } }
  .video_play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 7; }
    .video_play img {
      width: 100%;
      height: 100%;
      object-fit: contain; }

.accordion {
  margin: 40px 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 720px; }
  .accordion_cont {
    display: flex;
    flex-direction: column; }
  .accordion_item {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    position: relative; }
    .accordion_item_title {
      position: relative;
      padding: 18px 40px 18px 0;
      font-family: "Karla", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      margin: 0;
      cursor: pointer; }
      @media (max-width: 768px) {
        .accordion_item_title {
          font-size: 18px;
          line-height: 20px; } }
      .accordion_item_title:before {
        content: '+';
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 9;
        color: #000000;
        font-size: 20px;
        transition: 0.3s all; }
      .accordion_item_title.active-header:before {
        content: '-'; }
    .accordion_item_content {
      padding: 0 0 18px 0;
      font-family: "Karla", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      border-bottom: 1px solid #8C8C8C;
      margin: 0;
      display: none;
      width: 100% !important;
      box-sizing: border-box; }
      @media (max-width: 768px) {
        .accordion_item_content {
          font-size: 16px;
          line-height: 18px; } }

.video_block_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  z-index: 9999;
  background: rgba(65, 68, 55, 0.71);
  display: none;
  justify-content: center;
  align-items: center; }
  .video_block_modal.active {
    display: flex; }
  .video_block_modal_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 926px;
    height: 564px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 15px;
    position: relative; }
    @media (max-width: 768px) {
      .video_block_modal_cont {
        height: 400px; } }
    @media (max-width: 480px) {
      .video_block_modal_cont {
        height: 300px; } }
    .video_block_modal_cont iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 2; }
  .video_block_modal_close {
    position: fixed;
    z-index: 9999;
    right: 50px;
    top: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer; }
    @media (max-width: 1200px) {
      .video_block_modal_close {
        right: 25px;
        top: 35px; } }
    @media (max-width: 768px) {
      .video_block_modal_close {
        right: 25px;
        top: 10px; } }


.open-content a:link { color: black; } 
.open-content a:hover { color: hotpink; }
.open-content a:visited { color: black; }
.open-content a:active { color: hotpink; }

.general-paragraph a:link { color: black; } 
.general-paragraph a:hover { color: hotpink; }
.general-paragraph a:visited { color: black; }
.general-paragraph a:active { color: hotpink; }

.footer_logo a:link { color: white; text-decoration: none; }
.footer_logo a:hover { color: hotpink; text-decoration: none; }
.footer_logo a:visited { color: white; text-decoration: none; }
.footer_logo a:active { color: hotpink; text-decoration: none; }
