.teaser-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
    background-color: $background-blue2;
    position: relative;
    padding: 311px 0 67px;
    @include sm {
        padding: 115px 0 56px;
    }
    &_cont{
        position: relative;
        z-index: 9;
        width: 100%; 
        h1{
            font-family: $font-inter;
            font-style: normal; 
            font-weight: 800;
            font-size: 88px;
            line-height: 88px;  
            color: $color-white;
            margin: 0;
            @include sm {
                font-weight: 800;
                font-size: 40px;
                line-height: 100%;
                word-wrap: break-word;
            }
        }
         
    } 
}