.title {
  font-family: $font-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 49px;
  color: $color-white;
  text-shadow: 0px 3px 4px rgba(75, 88, 202, 0.52);
  margin: 0;
  @include sm {
    font-size: 32px;
  }
}
 
 
.general-paragraph {
  font-family: $font-karla;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px; 
  color: $color-black;
  margin: 0; 
  @include sm {
    font-size: 18px;
    line-height: 22px;
  }
}

 
